<div id="header">
        <div id="logo" class="centralizado"></div>
        <div id="navegacao"  class="centralizado">
            <a class="navegacao atual" href="/">Pagina Inicial</a>
            <a class="navegacao" href="/produtos">Produtos</a>
            <a class="navegacao" >Cupons</a>
            <a class="navegacao"  href="./carrinho">Carrinho</a>
            <a class="navegacao" href="./login">Perfil</a>
            <!--<a href="/teste">oi</a>-->
            
        </div>
</div>
