<div id="meio">
        <div id="filtroEspaco" class="centralizado">
            <div id="filtro" class="centralizado">
            <!-- O EVENTIO TA AQUI PROFESSOR(A) :D -->
            <button (click)="adicionar()" class="comprar"> </button>
            </div>
        </div>
        <div id="produtosEspaco" class="centralizado">
            <div id="produtos">
                <!--
                <div class="produtos">
                    <button id="produto1" class="botao_produto">oi oi</button>
                    <button id="produto2" class="botao_produto">oi oi</button>
                -->
            </div>
        </div>
        </div>
<div id="warning" class="centralizado">Produto adicionado</div>

