/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Etna;
    src: url('./Etna.ttf')
}

    body {
        margin: 0px;
    }

    #header {
        background-color: black;
        min-height: 13vh;
        margin: 0px;
        overflow:clip;
    }

#meio {
    height: 74vh;
    margin: 0px;
    background-image: url("./Fundo1.png");
}

    #footer {
        background-color: black;
        height: 13vh;
        margin: 0px;
    }

    #logo {
        background-color: black;
        background-image: url("./Logo.png");
        background-size: contain;
        min-width: 200px;
        background-repeat: no-repeat;
        background-position: center;
        height: 13vh;
        width: 22.5vw;
        margin: 0px;
        float: left;
        color: white;
    }

    #navegacao {
        background-color: black;
        height: 13vh;
        width: 62.91vw;
        float: right;
        color: white;
    }

    

    #filtroEspaco {
        height: 74vh;
        margin: 0px;
        padding: 0px;
        width: 24vw;
        float: left;
    }

    #filtro {
        background-color: black;
        height: 50vh;
        width: 19vw;
        margin: 0px;
        padding: 0px;
        border-radius: 2vw;
    }

#loginEspaco {
    background-color: black;
    height: 55vh;
    width: 30vw;
    margin: 0px;
    padding: 0px;
    border-radius: 2vw;
    font: Etna;
    color: white;
    box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 0.7);
}

#userEspaco {
    background-color: black;
    height: 55vh;
    width: 60vw;
    margin: 0px;
    padding: 0px;
    border-radius: 2vw;
    color: white;
    font-family: Etna;
    box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 0.7);
    padding-top: 2vh;
}

#welcome {
    padding-left: 3vw;
    padding-top: 2vh;
    display: inline;
}

#exit{
    float: right;
    margin-right: 3vw;
    width: 3%;
    height: 5%;
    border-radius: 0.5vw;
    background-color: white;
    border-color: #7e92b4;
}
    #produtosEspaco {
        height: 74vh;
        margin: 0px;
        padding: 0px;
        width: 74vw;
        float: right;
    }

    #produtos {
        background-color: black;
        height: 65vh;
        width: 70vw;
        margin: 0px;
        padding: 0px;
        border-radius: 2vw;
        overflow-x: auto;
        display: flex;
        align-items: center;
    }

    #login {
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: bold;
    }

#warning {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 40vh;
    left: 40vw;
    background-color: black;
    border-radius: 2vw;
    color:white;
    font-family: Etna;
    font-size: 3vh;
}


    .centralizado {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.produtos {
    background-color: white;
    width: 20vw;
    height: 55vh;
    min-width: 300px;
    border-radius: 2vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
}

.produto {
    display:block;
    width: 90%;
    height: 25vh;
    margin-top:2vh;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 90%;
    border: solid;
    border-width: 0.15vw;
}

    .navegacao {
        margin-right: 1vw;
        padding-right: 1vw;
        border-right: solid;
        color: white;
        text-decoration: none;
        border-color: white;
        border-width: 0.25vw;
        font-size: 1.5vw;
        font-family: "Bebas Neue", sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        font-weight: bold;
    }

        .navegacao:hover {
            color: #B2C9F1;
        }

    .atual {
        color: #B2C9F1;
    }

.NomeProduto {
    text-align: center;
    font-size: 130%;
    font-family:Etna;
}

.ValorProduto {
    text-align: center;
    font-size: 180%;
    font-family: Etna;
    color: #b52485;
}

.BotaoComprar {
    width: 90%;
    height: 5vh;
    border-radius: 0.5vw;
    background-color: #b2c9f1;
    border-color: #7e92b4;
    margin-top: auto;
    margin-bottom:3vh;
    background-image: url("ShoppingCart.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}



.buy {
 
    height: 4vh;
}

.produto1{
  background-image: url("produto.jpg");
  background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.produto2{
  background-image: url("produto1.jpg");
  background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.produto3{
  background-image: url("produto2.jpg");
  background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.produto4{
  background-image: url("produto3.jpg");
  background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.produto5{
  background-image: url("produto4.jpg");
  background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.comprar{
  width: 90%;
    height: 5vh;
    border-radius: 0.5vw;
    background-color: #b2c9f1;
    border-color: #7e92b4;
    margin-top: auto;
    margin-bottom:auto;
    background-image: url("ShoppingCart.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
